@{
    Layout = "~/Views/Shared/_NavbarFooter.cshtml";
}


<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <style>
        .table-container {
            width: calc(100% - 5cm); /* Set the width of the container */
            margin: 0 auto; /* Center the container horizontally */
            padding-left: 5cm; /* Set left padding */
            padding-right: 5cm; /* Set right padding */
        }

        /* Add CSS for table styling */
        table {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-family: Arial, sans-serif;
            font-weight: bold;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
            font-size: 18px; /* Increase font size (from the default) */
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f2f2f2;
        }


        .edit-box,
        .delete-box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: white;
            font-size: 18px;
            font-weight: bold;
        }

        .edit-box {
            background-color: orange;
        }

        .delete-box {
            background-color: red;
        }

            .edit-box:hover,
            .delete-box:hover {
                cursor: pointer;
            }

            .edit-box label,
            .delete-box label {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
            }
    </style>
</head>
<body>
    <div class="table-container">
        @model List<Uzmanlik>

        <h1>Poliklinik Listesi</h1>

        <table class="table">
            <tbody>
                @foreach (var uzmanlik in Model)
                {
                    <tr>
                        <td style="font-size: 18px;">@uzmanlik.UzmanlikAdi</td>
                        <td style="font-size: 18px;">
                            <div class="edit-box">
                                <label>
                                    <input type="checkbox" name="uzmanlikEditIds" value="@uzmanlik.Id" style="display: none;" />
                                    Düzenle
                                </label>
                            </div>
                        </td>
                        <td style="font-size: 18px;">
                            <div class="delete-box">
                                <label>
                                    <input type="checkbox" name="uzmanlikDeleteIds" value="@uzmanlik.Id" style="display: none;" />
                                    Sil
                                </label>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
</html>
