@{
    Layout = "~/Views/Shared/_NavbarFooter.cshtml";
}


<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <style>
        /* Add CSS for table container with padding */
        .table-container {
            width: calc(100% - 5cm); /* Set the width of the container */
            margin: 0 auto; /* Center the container horizontally */
            padding-left: 5cm; /* Set left padding */
            padding-right: 5cm; /* Set right padding */
        }

        /* Add CSS for table styling */
        table {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-family: Arial, sans-serif;
            font-weight: bold;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
            font-size: 18px; /* Increase font size (from the default) */
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <div class="table-container">
        @model List<Uzmanlik>

        <h1>Poliklinik Listesi</h1>

        <table class="table">
            <tbody>
                @foreach (var uzmanlik in Model)
                {
                    <tr>
                        <td style="font-size: 18x;">@uzmanlik.UzmanlikAdi</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>

</html>